header{
    background-color: lightgray;
}
span{
    color: red;
    font-size: small;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
form{
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}
section{
    background-color: lightgoldenrodyellow;
}
body{
    background-color: gray;
}